/**
* @Theme options variables - compiled by sassphp
*
*/

$font: 'Open Sans', Helvetica, Arial, sans-serif;
$heading-font: 'Open Sans', Helvetica, Arial, sans-serif;
$color-1: #3288be;
$color-2: #f5a623;
$color-3: #dd3333;
$radius: 3px;