.section-lead-generation {
	color: white;
	background: $color-2;

	.lead-generation-holder {
		position: relative;
		padding: 20px 0;
		@include clearfix;

		@include media( $desktop ) {
			padding-left: 150px;
		}

		@include media( $desktop-large ) {
			padding-left: 100px;
		}

		.lead-generation-image {
			

			img {
				display: block;
			}

			@include media( $mobile ) {
				float: left;
				width: 47px;
				margin-right: 10px;
			}

			@include media( $tablet) {
				position: absolute;
				top: -50px;
				left: 0;
				width: 85px;
			}

			@include media( $desktop) {
				position: absolute;
				top: -60px;
				left: -20px;
			}

			@include media( $desktop-large ) {
				position: absolute;
				top: -60px;
				left: -75px;
			}

		}

		.lead-generation-description {
			font-size: em(13px);

			@include media( $mobile ) {
				display: table-cell;
			}
			
			@include media( $tablet ) {
				padding-left: 110px;
				min-height: 50px;
				margin-bottom: 10px;
			}

			@include media( $desktop ) {
				width: p(220px, 900px);
				float: left;
			}

		}

		.lead-generation-cta {

			@include media( $tablet-down ) {
				padding-top: 12px;
				clear: both;
			}

			@include media( $desktop) {
				width: p(665px, 900px);
				float: right;
			}

			h2 {
				color: white;
				font-weight: bold;
				font-size: em(24px);
				margin-bottom: em(15px, 24px);
			}

			input {
				border: none;
				display: block;
				width: 100%;
				font-size: 13px;
			}

			.button {
				@extend .alt;
				font-size: 13px;
				padding: em(10px) em(12px);
				line-height: 1.45;
				margin-bottom: 0;
			}

			.gform_wrapper {
				@include clearfix;

				@include media( $mobile ) {

					.gform_body {
					

						.gfield {
						margin-bottom: 10px;
						}
						
					}

					.gform_footer {
					
						.button {
						width: 100%;
						text-align: center;
						}

					}

				}

				@include media( $tablet-up ) {

					.gform_body {
						width: p(500px, 665px);
						margin-right: p(10px, 665px);
						float: left;

						.gfield {
							width: p(245px, 500px);
							margin-left: p(10px, 500px) !important;
							float: left;
							clear: none;
							margin-bottom: 0;

							&:first-child {
								margin-left: 0 !important;
							}

						}
						
					}

					.gform_footer {
						width: p(155px, 665px);
						float: left;
					}

				}

			}

		}

	}

}